[user]
	name = Mubtasim Fuad
	email = m.fuad.rafi@gmail.com
	# email = 68302816+rafisics@users.noreply.github.com
[credential "https://git.overleaf.com"]
	username = git
    helper = store
[credential]
	helper = store

[includeIf "gitdir:~/.config/"]
    path = .gitconfig-private

[http]
	postBuffer = 524288000
